*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.body{
	font-family: 'Poppins', sans-serif;
}

.container{
	display: flex;
	padding: 5px 10%;
	justify-content: flex-end;
	
}

.container p{
	margin-right: auto;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	overflow: hidden;

}

.navbar ul li a{
	text-decoration: none;
}

.row{
	display: flex;
	padding: 5px 10%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	
}

.col-2 img{
	max-width: 100%;
	padding: 50px 0;
	
}

.col-1 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 20px 0;

}

.btn{
	display: inline-block;
	background-color: #ff532b;
	border-radius: 30px;
	padding: 5px 20px;
	margin: 20px 0;
	text-decoration: none;
	color: #fff;
	transition: background-color 0.5s;
}

.back1{
	background: radial-gradient(#fff,#ffd6d6);
}

.btn:hover{
	background-color: #563434;
}

.shoesFeatured{
	display: flex;
	/*flex-basis: 30%; */
	justify-content: center;
	align-items: center;
	margin: 80px 0;

}

.shoesFeatured img{
	width: 250px;
	height: 200px;
	margin: 0 10px;
}

.featuredProd{
	display: flex;
	justify-content: center;
	align-items: center;
}

.cols-4{
	margin: 50px 10px;
	transition: transform 0.5s;
}
.cols-4 img{
	width: 250px;
	height: 250px;

}

.h1Featured{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 80px;
	position: relative;

}

.h1Featured h1::after{
	content: '';
	width: 80px;
	height: 5px;
	background-color: #ff523b;
	position: absolute;
	border-radius: 30px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: -5px 0;
	
}

.rating .fa{
	color: #ff523b;
}

.cols-4:hover{
	transform: translateY(-5px);
}

.hamburger{
	margin-left: 20px;
	display: none;
}

@media only screen and (max-width: 800px){
	.navbar ul{
		position: absolute;
		top: 30px;
		left: 0;
		width: 100%;
	}
	.navbar ul li{
		display: flex;
		justify-content: flex-end;
		margin-right: 20px;
	}
	.hamburger{
		display: block;
		cursor: pointer;

	}

	.toggleStyle{
		display: none;
	}

}

@media only screen and (max-width: 600px){
	.row{
		text-align: center;
	}
	.shoesFeatured, .featuredProd{
		flex-basis: 100%;
		flex-wrap: wrap;
	}
}

